<<<<<<< HEAD
doctype html
<!--html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', type='text/css', href='/styles/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='../styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Butcherman|Ewert|Creepster|Lobster|Pacifico|Oleo+Script|Pinyon+Script|Acme|Timmana|Bree+Serif', rel='stylesheet')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js', integrity='sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    title Document
  body
    header
      nav.navbar.navbar-.bg-dark.navbar-dark
        // Brand
        a.navbar-brand
          img(src='', alt='')
        // Toggler/collapsibe Button
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
          div
            img(src='../../images/iconiAvion.gif')
        // Navbar links
        #collapsibleNavbar.collapse.navbar-collapse
          ul.nav.nav-pills.nav-fill
            li.nav-item
              a.nav-link(href='/airPlane')
                i.fas.fa-utensils
                | Aviones
            li.nav-item
              a.nav-link(href='/')
                i.fas.fa-user-cog
                | Modelos
            li.nav-item
              a.nav-link(href='/')
                i.fas.fa-user-cog
                | Vuelos
            li.nav-item
              a.nav-link(href='/')
                i.fas.fa-user-cog
                | Pasajeros
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-shopping-cart
                | Trabajadores
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-history
                | Clientes
            li.nav-item.active
              a.nav-link(href='#')
                i.fas.fa-user-tie
                | Itenerarios
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-sign-out-alt
                |  Salir
    .container
      .row
        h2.titulo
          img(src='', alt='')
      #selpr.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h3.modal-title Confirmar
              button.close(type='button', data-dismiss='modal') ×
            .modal-body
              p
                | Desea eliminar el avion
                br
                |                        (NO SE PODRA RECUPERAR DESPUES DE ESTO)
                br
                |                        Se sugiere mantener deshabilitado el campo de disponibilidad con anterioridad
                |                        durante un tiempo para prevenir posibles problemas con clientes
            .modal-footer
              button.btn.btn-primary(data-toggle='modal', data-target="'#'+'myModal'+producto.id")
                i.far.fa-times-circle
                |  Eliminar Producto
      #selproductoxid.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h3.modal-title Edicion Avion
              button.close(type='button', (click)='clearState()', data-dismiss='modal') ×
            .modal-body
              form
              .form-row
                .form-group.col-md-6
                  label(for='avion') Modelo
                  select#avion.custom-select(name='avion', required='')
                    option XXXXX
                    option yyyyy
                    option Dasdasd
                    option asdasd
                .form-group.col-md-6
                  label(for='it') Fabricante
                  select#it.custom-select(name='it', required='')
                    option Directo
                    option Escalado
              .form-row
                .form-group.col-md-3
                  label(for='it') Itenerario
                  select#it.custom-select(name='it', required='')
                    option Directo
                    option Escalado
                .form-group.col-md-3
                  .custom-control.custom-checkbox
                    label.custom-control-label(for='Check1') Mantenimiento
                    br
                    input#Check1.custom-control-input(name='disponibilidad', type='checkbox')
                .form-group.col-md-3
                  .custom-control.custom-checkbox
                    label.custom-control-label(for='Check2') Internet
                    br
                    input#Check2.custom-control-input(name='disponibilidad2', type='checkbox')
                .form-group.col-md-3
                  .custom-control.custom-checkbox
                    label.custom-control-label(for='Check3') TV
                    br
                    input#Check3.custom-control-input(name='disponibilidad3', type='checkbox')
              button.btn.btn-primary(type='submit', data-toggle='modal', data-target='#selproductoid') Actualizar
=======
extends base2
block content
  .row
    .col-sm-3
      table.table.table-hover
        thead
          tr
            th ID Avion
            th Internet
            th cantTv         
            th Opciones
        tbody.collection
        - for (var i = 0; i < serviciosAdicionales.length; i++)
          tr
            td   #{serviciosAdicionales[i].C_avion}
            td 
              -if(serviciosAdicionales[i].internet==1)
                | Si
              -else 
                | No
            td   #{serviciosAdicionales[i].cant_TV} 
            
            td
              form(action=`delete/serviciosAdicionales/${serviciosAdicionales[i].C_avion}`,method="POST")
                button.btn.btn-primary(type='submit')
                  i.far.fa-times-circle
                  |  Eliminar
              
              form
                button.btn.btn-secondary(type='button', data-toggle='modal', data-target=`#avionesServicios${serviciosAdicionales[i].C_avion}`)
                  i.fas.fa-edit
                  |  Editar
          .modal.fade(id=`avionesServicios${serviciosAdicionales[i].C_avion}`)
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  h3.modal-title Edicion Avion
                  button.close(type='button', data-dismiss='modal') ×
                .modal-body
                  form(action=`update/serviciosAdicionales/${serviciosAdicionales[i].C_avion}`, method="POST")
                    .form-row
                      .form-group.col-md-6
                        label(for=`CantTV${serviciosAdicionales[i].C_avion}`) Cantidad TV
                        br
                        select(id= `CantTV${serviciosAdicionales[i].C_avion}`, name='modelo', required='')
                          option 1
                          option 2
                          option 3
                    .form-row
                     
                      .form-group.col-md-4
                        .custom-control.custom-checkbox
                          input.custom-control-input(id=`Internet${serviciosAdicionales[i].C_avion}`,name='Internet', type='checkbox')
                          br
                          label.custom-control-label(for=`Internet${serviciosAdicionales[i].C_avion}`) Internet
                    button.btn.btn-primary(type='submit',data-toggle='modal', data-target=`#serviciosAdicionales${serviciosAdicionales[i].C_avion}`) Actualizar
      
        tfoot
          tr
            td(colspan='8')
              button.btn(type='button', data-toggle='collapse', data-target='#collapseExample1', aria-expanded='false', aria-controls='collapseExample1')
                i.fas.fa-folder-plus
                |  Crear Servicio
          tr
            td(colspan='8')
              #collapseExample1.collapse
                form(action="/create/serviciosAdicionales" method="POST")
                  .form-row
                    .form-group.col-md-6
                      label(for=`Cavion`) Codigo Avion
                      br
                      select(id=`Cavion`, name='estado', required='')
                        -for(var j = 0; j<aviones.length ; j++)
                          option #{aviones[j].C_avion}
                    .form-group.col-md-6
                      label(for=`CantT`) Cantidad TV
                      br
                      select(id= `CantTV`, name='modelo', required='')
                        option 1
                        option 2
                        option 3
                  .form-row
                     
                    .form-group.col-md-4
                      .custom-control.custom-checkbox
                        input.custom-control-input(id=`Internet`,name='Internet', type='checkbox')
                        br
                        label.custom-control-label(for=`Internet`) Internet
                   
                  button.btn.btn-primary(type='submit') Guardar



    .col-sm
      .row
    
>>>>>>> 7792e8223f65f6820d74b684201a3006db2dcc4d
      table.table.table-hover
        thead
          tr
            th Codigo Avion
<<<<<<< HEAD
            th Modelo
            th Fabricante
            th Estado
            th Itenerario
            th Internet
            th Television
=======
            th Estado
            th Modelo
            th Itinerario
>>>>>>> 7792e8223f65f6820d74b684201a3006db2dcc4d
            th Opciones
        tbody.collection
          tr
<<<<<<< HEAD
            td  
            td  
            td
            td  
            td
            td
            td
            td
              button.btn.btn-primary(type='button', data-toggle='modal', data-target='#selpr')
                i.far.fa-times-circle
                |  Eliminar
              button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#selproductoxid')
                i.fas.fa-edit
                |  Editar
=======
            td   #{aviones[i].C_avion}
            td   #{aviones[i].C_estado}
            td   #{aviones[i].C_modelo}
            td   #{aviones[i].itinerario} 
            
            td
              form(action=`delete/avion/${aviones[i].C_avion}`,method="POST")
                button.btn.btn-primary(type='submit')
                  i.far.fa-times-circle
                  |  Eliminar
              
              form
                button.btn.btn-secondary(type='button', data-toggle='modal', data-target=`#avionesC${aviones[i].C_avion}`)
                  i.fas.fa-edit
                  |  Editar
          .modal.fade(id=`avionesC${aviones[i].C_avion}`)
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  h3.modal-title Edicion Avion
                  button.close(type='button', data-dismiss='modal') ×
                .modal-body
                  form(action=`update/avion/${aviones[i].C_avion}`, method="POST")
                    .form-row
                      .form-group.col-md-6
                        label(for=`estado${aviones[i].C_avion}`) Codigo Estado
                        br
                        select(id=`estado${aviones[i].C_avion}`, name='estado', required='')
                          option 1212
                          option 41212
                          option 4121
                          option 4121
                      .form-group.col-md-6
                        label(for=`modelo${aviones[i].C_avion}`) CodigoModelo
                        br
                        select(id= `modelo${aviones[i].C_avion}`, name='modelo', required='')
                          option 1212
                          option 412312
                          option 56343
                    .form-row
                      .form-group.col-md-3
                        label(for=`itinerario${aviones[i].C_avion}`) C_Itinerario
                        br
                        select(id=`itinerario${aviones[i].C_avion}`, name='IATA', required='')
                          option #{aviones[i].itinerario}
                          option 1212
                          option 412312
                          option 56343
                      .form-group.col-md-4
                        .custom-control.custom-checkbox
                          input.custom-control-input(id=`TV${aviones[i].C_avion}`,name='TV', type='checkbox')
                          br
                          label.custom-control-label(for=`TV${aviones[i].C_avion}`) TV
                      .form-group.col-md-4
                        .custom-control.custom-checkbox
                          input.custom-control-input(id=`Internet${aviones[i].C_avion}`,name='Internet', type='checkbox')
                          br
                          label.custom-control-label(for=`Internet${aviones[i].C_avion}`) Internet
                    button.btn.btn-primary(type='submit',data-toggle='modal', data-target=`#avionesC${aviones[i].C_avion}`) Actualizar
      
>>>>>>> 7792e8223f65f6820d74b684201a3006db2dcc4d
        tfoot
          tr
            td(colspan='8')
              button.btn(type='button', data-toggle='collapse', data-target='#collapseExample1', aria-expanded='false', aria-controls='collapseExample1')
                i.fas.fa-folder-plus
                |  Crear producto
          tr
            td(colspan='8')
              #collapseExample1.collapse
<<<<<<< HEAD
                form
=======
                form(action="/createAvion" method="POST")
>>>>>>> 7792e8223f65f6820d74b684201a3006db2dcc4d
                  .form-row
                    .form-group.col-md-6
                      label(for='avion') Avion
                      select#avion.custom-select(name='avion', required='')
                        option XXXXX
                        option yyyyy
                        option Dasdasd
                        option asdasd
                    .form-group.col-md-6
                      label(for='it') Tipo de vuelo
                      select#it.custom-select(name='it', required='')
                        option Directo
                        option Escalado
                  .form-row
                    .form-group.col-md-3
<<<<<<< HEAD
                      label(for='date') Fecha
                      br
                      input#date(type='date')
                    .form-group.col-md-4
                      label(for='precios') Precio
                      input#precios.form-control(name='precio', type='text')
                  button.btn.btn-primary(type='submit', data-toggle='modal', data-target='#selproductoid') Guardar -->

extends base
block content
  .container.pt-4
    h2 Operaciones CRUD
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') ID
              th(scope='col') Modelo
              th(scope='col') Estado
              th(scope='col')
              th(scope='col')
          tbody
          - for (var i = 0; i < aviones.length; i++)
            tr
              th(scope='row') #{aviones[i].C_avion}
              td #{aviones[i].C_avion}
              td #{aviones[i].C_modelo}
              td #{aviones[i].C_estado}
                form(action=`show/${aviones[i].C_avion}`,method="POST")
                  button.btn.btn-outline-dark(type='submit') Detalle
              td
                form(action=`delete/${aviones[i].C_avion}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
        h4.mt-5 Crear Productos
        form(action='create' method="POST")
          .form-group
            label(for='C_avion') Código
            input#nombre.form-control(type='text' aria-describedby='nombre' placeholder='Nombre' name='nombre')
          .form-group
            label(for='C_modelo') Modelo
            input#precio.form-control(type='number' placeholder='Precio' name='precio')
          button.btn.btn-primary(type='submit') Crear
=======
                      label(for='Itinerario') CodigoIATA
                      br
                      select#it.custom-select(name='itinerario', required='')
                        option 1212
                        option 412312
                        option 56343
                   
                  button.btn.btn-primary(type='submit') Guardar
>>>>>>> 7792e8223f65f6820d74b684201a3006db2dcc4d
