extends base3
block content
  .contenedorF
    .row 
      a(href="/index")
        img(src="/Back.png")

      h2 
        | Gracias por su compra #{nombre} #{apellido}
    -if(asientos.length > 1)
      -for(var i= 0; i<asientos.length ; i++)
        h2
          | Vuelo #{i}
        br
        .row 
          .col
            p
              |Codigo Vuelo: #{vuelos[i].C_vuelo}
    
        .row 
          .col
            p
              | Tipo de Asiento : 
              -if (asientos[i]==1)
                | Primera Clase
              -if (asientos[i]==2)
                |  Ejecutiva
              -if (asientos[i]==3)
                | Economica Premium
              -if (asientos[i]==4)
                | Economica
        hr      
    -else 
      .row 
        .col
          p
            |Codigo Vuelo: #{vuelos}
  
      .row 
        .col
          p
            | Tipo de Asiento : 
            -if (asientos[0]==1)
              | Primera Clase
            -if (asientos[0]==2)
              |  Ejecutiva
            -if (asientos[0]==3)
              | Economica Premium
            -if (asientos[0]==4)
              | Economica

      // Table body
    // Table
