extends base2
block content
      .row
        h2.titulo
        img(src='', alt='')
    
      table.table.table-hover
        thead
          tr
            th ID
            th Nombre
            th Apellido
            th Cargo
            th Opciones
        tbody.collection
        - for (var i = 0; i < tripulacion.length; i++)
          tr
            td   #{tripulacion[i].Pasaporte_T}
            td   #{tripulacion[i].Nombre}
            td   #{tripulacion[i].Apellido}
            td   #{tripulacion[i].Cargo}
            td
              form(action=`delete/tripulacion/${tripulacion[i].Pasaporte_T}`,method="POST")
                button.btn.btn-primary(type='submit')
                  i.far.fa-times-circle
                  |  Eliminar
              
              form
                button.btn.btn-secondary(type='button', data-toggle='modal', data-target=`#avionesC${tripulacion[i].C_avion}`)
                  i.fas.fa-edit
                  |  Editar
          .modal.fade(id=`avionesC${tripulacion[i].Pasaporte_T}`)
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  h3.modal-title Edicion Tripulacion
                  button.close(type='button', data-dismiss='modal') ×
                .modal-body
                  form(action=`update/tripulacion${aviones[i].PasaporteT}`, method="POST")
                    .form-row
                      .form-group.col-md-6
                        label(for=`pasaporte${tripulacion[i].Pasaporte_T}`) Pasaporte
                        br
                        input(type="number" id=`pasaporte${tripulacion[i].Pasaporte_T}`, name='pasaporte', required='')
                         
                      .form-group.col-md-6
                        label(for=`modelo${tripulacion[i].Pasaporte_T}`) Cargo
                        br
                        select(id= `modelo${tripulacion[i].Pasaporte_T}`, name='cargo', required='')
                          option Piloto
                          option Copiloto
                          option Ayudante Cabina
                          option Mantemiento
                    .form-row
                      .form-group.col-md-6
                        label(for=`nombre${tripulacion[i].Pasaporte_T}`) Nombre
                        br
                        input(type="text" id=`nombre${tripulacion[i].Pasaporte_T}`, name='nombre', required='')
                      .form-group.col-md-6
                        .custom-control.custom-checkbox
                        label(for=`apellido${tripulacion[i].Pasaporte_T}`) Apellido
                        br
                        input(type="text" id=`apellido${tripulacion[i].Pasaporte_T}`, name='apellido', required='')
        
                    button.btn.btn-primary(type='submit',data-toggle='modal', data-target=`#tripulacinC${tripulacion[i].Pasaporte_T}`) Actualizar
      
        tfoot
          tr
            td(colspan='8')
              button.btn(type='button', data-toggle='collapse', data-target='#collapseExample1', aria-expanded='false', aria-controls='collapseExample1')
                i.fas.fa-folder-plus
                |  Crear producto
          tr
            td(colspan='8')
              #collapseExample1.collapse
                form(action='/create/tripulacion' method="POST")
                  .form-row
                    .form-group.col-md-6
                        label(for=`pasaporte`) Pasaporte
                        br
                        input(type="number" id=`pasaporte`, name='pasaporte', required='')
                         
                      .form-group.col-md-6
                        label(for=`modelo`) Cargo
                        br
                        select(id= `modelo`, name='cargo', required='')
                          option Piloto
                          option Copiloto
                          option Ayudante Cabina
                          option Mantemiento
                    .form-row
                      .form-group.col-md-6
                        label(for=`nombre`) Nombre
                        br
                        input(type="text" id=`nombre`, name='nombre', required='')
                      .form-group.col-md-6
                        .custom-control.custom-checkbox
                        label(for=`apellido`) Apellido
                        br
                        input(type="text" id=`apellido`, name='apellido', required='')
                  button.btn.btn-primary(type='submit') Guardar
